#main-footer {
    background-color: $dark-color;
    color: #fff;
    height: 5rem;
 
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    
        .social .fab {
            margin-right: 1rem;
            border: 2px solid #fff;
            border-radius: 50%;
            text-align: center;
            padding: 0.6rem;
            transition: .4s all;
            &:hover {
                background-color: $primary-color;
            }
        }
    }

}